<div class="row">
  <!--プロフィール欄-->
  <div class="col-md-3">
   <%= render "users/profile" %>
  </div>
  <!---->
    <div class="col-md-8">

      <h1>いいね一覧</h1>
      <% if @favorite_posts.present? %>
      <!--投稿一覧-->
        <% @favorite_posts.each do |post| %>
           <%= render "users/post", post: post %>
        <% end %>
      <!---->
      <% else %>
        <p>いいねした投稿はありません</p>
      <% end %>
    <div class="mt-5">
        <%= paginate @favorite_posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
