<div class="row">
  <!--プロフィール欄-->
  <div class="col-md-3">
   <%= render "users/profile" %>
  </div>
  <!---->
  <div class="col-md-8">

    <h2>マイページ</h2>
    <% if @posts.present? %>
      <!--投稿一覧-->
        <% @posts.each do|post| %>
           <%= render "users/post", post: post %>
        <% end %>
      <!---->
    <% else %>
          <h4>投稿はまだありません</h4>
    <% end %>
    <div class="mt-5">
      <%= paginate @posts, theme: 'bootstrap-5' %>
     </div>
　</div>
</div>