<h1>会員一覧</h1>
<div class="col-md-8 mx-auto">

  <table class="table">
    <tr>
      <thead>
        <th>作成日</th>
        <th>アカウント名</th>
        <th>ステータス</th>
      </thead>
    </tr> <!--アカウントごとの情報リンクについてはごじつ修正-->
    <% @users.each do |user| %>
    <tr>
        <tbody>
          <td>
            <%= l user.created_at %>
          </td>
          <td>
      <%= link_to admins_user_path(user.id), class: "text-dark text-decoration-none" do %>
            <%= user.name %>
      <% end %>
          </td>
          <td>
            <%= user.status_i18n %>
          </td>
        </tbody>
    </tr>
    <% end %>
  </table>

</div>