<h1>どれみる？</h1>
<div class="p-3">

  <h4>ここは映画・小説・漫画などの検索サイトです。</h4>
  <h4>見たい作品を探し出し自分の好きな作品を他の方におすすめしましょう！</h4>
  <div class="m-3">
    <p class="mb-1">*他のユーザーや作品、作品製作者、映画館を誹謗・中傷するようなレビューの投稿はお控えください。</p>
    <p>*著作権を侵害するような内容を含むレビューの投稿はお控えください。</p>
  </div>

</div>