<div class="about-bg">
  <br>
  <div class="col-md-11" style="display: inline-block;">
    <div class="border border-white border-5 p-3 mt-2" style="display: inline-block;">
      <h1 class="m-0 border-bottom border-dark boeder-3">どれみる？</h1>
    </div>
    <div class="col-9 mt-3 pl-5">
      <h4>ここは小説・漫画などの検索サイトです。</h4>
      <h4>見たい作品を探し出し自分の好きな作品を他の方におすすめしましょう！</h4>
      <div class="m-3">
        <p class="mb-1">*他のユーザーや作品、作品製作者、誹謗・中傷するようなレビューの投稿はお控えください。</p>
        <p>*著作権を侵害するような内容を含むレビューの投稿はお控えください。</p>
      </div>
    </div>
  </div>
</div>